.container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-404 {
    font-size: 2rem;
    font-weight: bold;
}
.wrapper  {max-width: 600px; height: 100%; margin: 0 auto; background: #CCC}
.iframe-404 {position: relative; padding-top: 56%;}
.iframe-404 iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}